
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf?t=1524185990681') format('truetype');
 
    }

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nanzhuang:before { 
	content: "\e627"; 
	color: #007AFF;
}

.icon-zixun:before { 
	content: "\e661"; 
	color: #DD524D;
	width: 80px;
	height: 70px;
}

.icon-nvzhuang:before { 
	content: "\e624"; 
	color: yellow;
	width: 80px;
	height: 70px;
}

